# --- ALIS ---

## ALISのアプリケーションID
## すべてのサブシステムで同じ値を使う必要がある
export ALIS_APP_ID=foobar

# CloudFormationで生成されたAPI GatewayのAPI ID
# スクリプトから各APIに事後処理を行うために使用する
# 現状、SAMがIAM認証をサポートしていないため
# TODO: SAMがIAM認証をサポートしたらteplate.yamlに集約してこの値とスクリプトを除却する
#   - see: https://github.com/awslabs/serverless-application-model/issues/248
export SERVERLESS_REST_API_ID=pe6odilrre
export SERVERLESS_REST_API_WITH_OAUTH_ID=xxxxxxxxxx


## --- for Cloudfront ---

# Cloudfrontリソースを生成する場合のみ必要
# 本番環境では利用しないリソースなのでSSMではなくここに配置している

# API Gateway IDs
export FrontendApiGatewayId=xxxxxxxx
export Oauth2ApiGatewayId=xxxxxxxx
export Oauth2apiApiGatewayId=xxxxxxxx
export LaboApiGatewayId=xxxxxxxx

# ACMのCertificationのArn
export AcmCertificateArn=arn:aws:acm:us-east-1:xxxxxx:xxxxxx


# --- AWS ---

## aws-cli
## aws-cliが依存する環境変数。
##   - see: https://docs.aws.amazon.com/ja_jp/cli/latest/userguide/cli-environment.html
## .credentialsファイルよりもこちらの環境変数が優先される
## Cloud formationのデプロイやS3作成など重要な操作を行うため、管理者レベルの権限を持つ必要がある。
export AWS_DEFAULT_REGION=ap-northeast-1
export AWS_ACCESS_KEY_ID=AKIAJZCGSXXXXXXXXXX
export AWS_SECRET_ACCESS_KEY=iU6/q6ls5i5pDBPxxxxxxxxxxxxxxxxxxxx
