*packaged-template.yaml
*package-template.yaml
venv
deploy
vendor-package
.envrc
_tmp_*
src/**/__pycache__
update_function.sh

# for tests
tmp_tests
tests/**/database.yaml
tests/**/__pycache__
.coverage

# editor
.idea

# for mac os
.DS_Store

# DynamoDBLocal
DynamoDBLocal*
third_party_licenses
dynamodb_local*
shared-local-instance.db
LICENSE.txt
README.txt

# etc
node_modules
.serverless
*.log
update_function.sh
tmp*
