*packaged-template.yaml
venv
venv-sample
deploy
vendor-package
vendor-package-web3
.envrc
_tmp_*
src/**/__pycache__

# for tests
tmp_tests
tests/**/database.yaml
tests/**/__pycache__

# editor
.idea

# for mac os
.DS_Store
